<h1>Playlist: {{model.name}}</h1>
<div class="row">
  <div class="col-xs-3">
    {{video-search
      onVideoLookup=(action "queryForVideo")
      onSelect=(action "addToPlaylist")}}
  </div>
  <div class="col-xs-9">
    {{#each model.videos as |video|}}
      {{video-list-item video=video onSelect=(action (action "selectVideo") video)}}
    {{/each}}

    {{#if selectedVideo}}
      {{youtube-player video=selectedVideo height=390 width=640}}
    {{/if}}
  </div>
</div>
